<div>
	<h1>New Appointment</h1>
	<ul>
		<li>Appointments are available 8AM-5PM</li>
		<li>We are only able to see three patients a day</li>
		<li>Complaint must be a minimum of 10 characters</li>
	</ul>
	<form>
		Date: <input type="date" ng-model="appointmentCtrl.newAppointment.date">
		Time: <select ng-model="appointmentCtrl.newAppointment.timer">
			<option>8:00 AM</option>
			<option>9:00 AM</option>
			<option>10:00 AM</option>
			<option>11:00 AM</option>
			<option>12:00 PM</option>
			<option>1:00 PM</option>
			<option>2:00 PM</option>
			<option>3:00 PM</option>
			<option>4:00 PM</option>
			<option>5:00 PM</option>
		</select>
		<br>
		Complaint: <textarea ng-model="appointmentCtrl.newAppointment.complaint"></textarea>
		<br>
		<input type="submit" value="Add Appointment" ng-click="appointmentCtrl.addAppointment()">
		<a href="#/dashboard">Cancel</a>
	</form>
</div>